<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><?= $site_name ?>勝手にPWA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="<?= $theme_color ?>">
    <link href="./manifest.json" rel="manifest">
    <link href="./icon.png" rel="icon" type="image/png">
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("./sw.js", {scope: "<?= $service_worker_scope ?>"});
      }
    </script>
    <script>
      (() => {
        const m = window.location.search.match(/\?to=([^&]+)(&.*)?/);
        if (m) {
          const url = decodeURI(m[1]);
          const domain_path = url.match(/(https?:\/\/<?= $preg_quote_domain ?>\/)?(.*)/);
          if (typeof domain_path[1] === "undefined") {
            let path = domain_path[2];
            if (path[0] === "/") {
              path = path.substring(1);
            }
            window.location.href = "<?= $redirect_to ?>" + path;
          } else {
            if (domain_path[1] === "<?= $redirect_to ?>") {
              console.log(url);
              window.location.href = url;
            }
          }
        }
        window.location.href = "<?= $redirect_to ?>";
      })();
    </script>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  </body>
</html>
